*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  font-size: 10px;
  scroll-behavior: smooth !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  position: relative;
  background: var(--color-background);
  color: var(--color-text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
}

::selection {
  opacity: 0.8;
  background-color: var(--secondary);
}

a, button {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

button {
  padding: unset;
  border: unset;
  outline: unset;
  background: unset;
}

a {
  color: inherit;
}

em {
  font-style: italic;
}

b {
  font-weight: 700;
}

p, .p {
  margin: 14px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: unset;
}

h1.h0 {
  margin-top: -6rem;
  margin-bottom: 0;
  margin-left: -8px;
  font-size: 200px;
  font-weight: 700;

  line-height: calc(0.1rem + 1.8ex + 0.1rem);

  letter-spacing: -16.5px;
  @media screen and (min-width: 460px) {
    margin-top: unset;
    font-size: 220px;
    line-height: calc(0.2rem + 2ex + 0.2rem);
  }

  & + h2, & + .h2 {
    margin-top: 0;
    font-size: 18px !important;
    font-weight: 400 !important;
    @media screen and (min-width: 600px) {
      font-size: 24px !important;
    }
  }
}

h1, .h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: calc(0.2rem + 2ex + 0.2rem);
  letter-spacing: -.05em;
  @media screen and (min-width: 405px) {
    font-size: 48px;
  }

  & + h2, & + .h2 {
    margin-top: 16px;
    font-size: 18px !important;
    font-weight: 400 !important;
    @media screen and (min-width: 600px) {
      font-size: 24px !important;
    }
  }
}

h2, .h2 {
  margin-bottom: 14px;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(0.2rem + 2ex + 0.2rem);
  letter-spacing: unset;
  @media screen and (min-width: 600px) {
    font-size: 36px;
  }
}

h3, .h3 {
  margin-bottom: 14px;
  font-size: 32px;
  font-weight: 700;
  line-height: calc(0.2rem + 2ex + 0.2rem);
  letter-spacing: unset;
}

h4, .h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: calc(0.2rem + 2ex + 0.2rem);
  letter-spacing: unset;
}

h5, .h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(0.2rem + 2ex + 0.2rem);
  letter-spacing: -.02em;
  @media screen and (min-width: 600px) {
    font-size: 18px;
  }
}

