.mobile {
  @include responsive-min(600px) {
    display: none !important;
  }
}

.desktop {
  @include responsive-max(600px) {
    display: none !important;
  }
}

.bp-0 {
  @include responsive-min(600px) {
    display: none !important;
  }
}

.bp-1 {
  @include responsive-max(600px) {
    display: none !important;
  }
}

.hideTransition {
  transition: none !important;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  border-width: 0;
  white-space: nowrap;
}