:root {
  --header-banner-height: 40px;
  --header-height: calc(var(--header-nav-height) + var(--header-banner-height));
  --header-nav-height: 64px;
  --page-margin: 24px;
  --page-width: 1048px;

  --phone-border: 10px;
  --phone-border-radius: 34px;
  --phone-frame-margin: 60px;
  --phone-height: 532px;
  --phone-inner-height: calc(var(--phone-height) - var(--phone-border) * 2);
  --phone-inner-width: calc(var(--phone-width) - var(--phone-border) * 2);
  --phone-width: 264px;
}

body {
  --border: 1px solid #eaeaea;
  /*= =============== button ================ */
  --button-brand-color: var(--primary);
  --button-brand-color-background: transparent;
  --button-brand-color-background-hover: var(--color-text);
  --button-brand-color-hover: var(--color-background);
  --button-brand-color-text: var(--color-text);
  --button-color-background: #edf2f7;
  --button-color-background-hover: #e2e8f0;
  --button-color-text: #1a202c;
  --button-color-text-hover: var(--primary);
  --button-secondary-color-background: var(--color-text);
  --button-secondary-color-background-hover: var(--color-background);

  /*= =============== card ================ */
  --button-secondary-color-text: var(--color-background);
  --card-background: var(--color-background);
  --card-background-hover: var(--color-background);
  --card-border: var(--border);
  --card-border-hover: 1px solid transparent;
  --card-shadow-hover: rgba(var(--color-text-rgb), 0.12);

  --card-text: var(--color-text);

  /*= =============== color ================ */
  --color-background: #fff;
  --color-background-rgb: 255, 255, 255;
  --color-grey-bg-1: #e8e8e8;
  --color-grey-bg-2: #fafafa;
  --color-grey-bg-3: #f2f7fc;
  --color-text: #171717;
  --color-text-faded: #2d3748;
  --color-text-faded-rgb: 45, 55, 72;
  --color-text-rgb: 23, 23, 23;

  /*= =============== header ================ */
  --header-backdrop-filter: saturate(180%) blur(5px);
  --header-background: rgba(var(--color-background-rgb), 1);
  --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);

  --nav-color: #666;
  --nav-font-size: 14px;
  --nav-hover-color: #000;

  /*= =============== section ================ */
  --primary: #0ab6ff;
  --secondary: #00dfd8;

  --section-x-padding: 24px;
  --section-y-padding: 128px;
  /*@include responsive-min(600px) {
    --header-background: rgba(var(--color-background-rgb), 0.87);
  }*/
}

.dark-theme {
  --border: 1px solid #333;
  --card-background: linear-gradient(#111, #111) content-box, linear-gradient(90deg, #333, #333) border-box;
  --card-background-hover: linear-gradient(#111, #111) content-box, linear-gradient(90deg, #ec6192, #ec4c34, #ffbd2b, #ebde56, #57c754, #53a1eb) border-box;
  --card-border: none;
  --card-border-hover: none;
  --card-shadow-hover: none;

  --card-text: var(--color-text);
  --color-background: #07080a;
  --color-background-rgb: 7, 8, 10;
  --color-grey-bg-1: #2f2f2f;
  --color-grey-bg-2: #0b0d10;
  --color-grey-bg-3: #111;
  --color-text: #fff;

  --color-text-faded: #a0aec0;
  --color-text-faded-rgb: 160, 174, 192;
  --color-text-rgb: 255, 255, 255;
  --nav-color: #888;
  --nav-hover-color: #f1f1f1;
}